.* text eol=lf
*.sh text eol=lf
files/usr/bin/* text eol=lf
files/www/cgi-bin/* text eol=lf
*.conf text eol=lf
*.md text eol=lf
scripts/*.ps1 text eol=lf
*.go text eol=lf
go.mod text eol=lf
Makefile text eol=lf
